<a href="https://colab.research.google.com/github/rhqtmfajfl/python-study/blob/master/rhqtmfajfl/python-study/colab/1_Series%2C_DataFrame_0601_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#시리즈는 한종류의 데이터를 모아 놓은 것 
#시리즈가 여러개 모이면 dataframe이 된다.
#데이터프레임의 최소단위가 시리즈이다.

''

In [ ]:
#시리즈만들기

In [ ]:
pd.Series([1,2,3,4]) #옆에 인덱스의미 = 순번

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
pd.Series([1.1, 2.5, 3.3, 4.6])

0    1.1
1    2.5
2    3.3
3    4.6
dtype: float64

In [ ]:
pd.Series([1,2,3,4.5]) #정수화 데이터 실수화로 변함

0    1.0
1    2.0
2    3.0
3    4.5
dtype: float64

In [ ]:
#자료형이 제일 큰 타입이 시리즈의 타입이 된다.

In [ ]:
#dataFrame
#시리즈가 여러개 모여서 하나의 데이터 시트를 표현하면 dataframe이 된다.

In [ ]:
#시리즈 방법 리스트로만 만들기 권장 안함
#컬럼의 이름을 따로 지정해야 할 일이 생김

In [ ]:
#시리즈는 1차원 배열, 시리즈가 모인 데이터 프레임은 2차워 배열

In [ ]:
sample_data = [["길동이",12,203],
               ['만득이',23,352],
               ['둑둑이',32,362]]

pd.DataFrame(sample_data)

     0   1    2
0  길동이  12  203
1  만득이  23  352
2  둑둑이  32  362

In [ ]:
# df1 = sample_data.columns['name','key','skdl']

AttributeError: ignored

In [ ]:
df = pd.DataFrame(sample_data)

In [ ]:
#컬럼의 이름은 리스트로 지정하기

In [ ]:
df.columns = ['name','age','key']

In [ ]:
df

  name  age  key
0  길동이   12  203
1  만득이   23  352
2  둑둑이   32  362

In [ ]:
#방법 2 dict로 만들기
#웹페이지 스크래이핑 하고 나서 자주 사용
#자주 사용하는 방법중 하나
#딕셔너리의 key 컬럼의 이름 컬럼명
#딕셔너리의 value 반드시 리스트로 이루어져 있어야 한다.

#모든 value의 리스트는 길이가 똑가아야 한다.

In [ ]:
sample_data ={'이름':['홍길동','만득이','둑덩리'],'나이':[5465,2452,2242],'키':[123,654,865]}

In [ ]:
df2 = pd.DataFrame(sample_data)

In [ ]:
df2

    이름    나이    키
0  홍길동  5465  123
1  만득이  2452  654
2  둑덩리  2242  865

In [ ]:
# sample_data ={'이름':['홍길동','만득이','둑덩리'],
#               '나이':[5465,233,2452,2242,6545],
#               '키':[123,654,865]}
# df2 = pd.DataFrame(sample_data)
# df2

ValueError: ignored

In [ ]:
#방법 3 dict로 만들기 ver2
# json크롤링했을 때 데이터바로 dataframe화 시키고 싶을 때 사용
#json 을 이용해 데이터를 가져올때 일반적인 모슴

# json

#자바스크립트 객체 표현 방식

#json 같은 경우 python의 dict와 똑같이 생김
#단 모든 키 값이 전부다 문자열이어야만 한다.

In [ ]:
sample_data = [
  {
    "이름" : "소민호",
    "나이" : 34,
    "키": 180.1
  },
  {
    "이름": "김땡땡",
    "나이" : 33,
    "키": 175.5
  },
  {
    "이름" : "박땡땡",
    "나이" : 28,
    "키": 183.2
  }
]
sample_data

[{'나이': 34, '이름': '소민호', '키': 180.1},
 {'나이': 33, '이름': '김땡땡', '키': 175.5},
 {'나이': 28, '이름': '박땡땡', '키': 183.2}]

In [ ]:
pd.DataFrame(sample_data) #json 형태의 데이터를 DataFrame 형태로 추출

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2