<a href="https://colab.research.google.com/github/rhqtmfajfl/python-study/blob/master/rhqtmfajfl/python-study/colab/3_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8A%A4%EC%BC%80%EC%9D%BC%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 스케일링도 데이터의 전처리에 해당한다.

## 전처리 1. Normalize(정규화)

column 간에 다른 min max 값을 가지는 경우, 정규화를 통해서 최대/ 최소의 척도를 하나로 맞춰 주는 잡업

* 최소를 0으로, 최대를 1로 설정

-----------

* 네이버 영화 평점(0~10) : [2,4,6,8,10]

* 넷플릭스 영화 평점 (0 ~ 5): [1,2,3,4,5]

In [5]:
import pandas as pd
movie_score = pd.DataFrame({
    "naver":[2, 4, 6, 8, 100],
    "netflix":[1, 2, 3, 4, 5]
})

movie_score

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4    100        5

In [6]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler() #scale은 리스트에 들어 있는 값들을 0에서 1사이의 값사이의 값중 맞는 비율만큼으로 만든다.

movie_score_scaled = min_max_scaler.fit_transform(movie_score)

pd.DataFrame(movie_score_scaled, columns=['Naver Scaled', 'Netflix Scaled'])

   Naver Scaled  Netflix Scaled
0      0.000000            0.00
1      0.020408            0.25
2      0.040816            0.50
3      0.061224            0.75
4      1.000000            1.00

머신러닝에서는 이제 Naver. Netflix 의 점수를 동일하게 가치를 매긴다

## 표준화(Standard Scaling)
평균이 0, 표준편차가 1이 되도록 변환

In [8]:
from sklearn.preprocessing import StandardScaler

이상치 데이터 보정에 좋다 (밑에 있는 식)

In [9]:
std_scaler = StandardScaler()

In [10]:
import numpy as np
x = np.arange(10)
# 이상치 강제 추가
x[9] = 1000

In [11]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [12]:
std_scaled_x = std_scaler.fit_transform(x.reshape(-1,1))

In [13]:
std_scaled_x.mean(), std_scaled_x.std()  # mean 평균, std 표준편차

(4.4408920985006264e-17, 1.0)

In [15]:
std_scaled_x

array([[-0.34670856],
       [-0.34336196],
       [-0.34001535],
       [-0.33666874],
       [-0.33332213],
       [-0.32997553],
       [-0.32662892],
       [-0.32328231],
       [-0.3199357 ],
       [ 2.9998992 ]])